.header-container{
  display: flex;
  width: 100%;
  height: 54.4px;
  position: fixed;
  background: #ffffff;
  margin-top: -68px;
  box-shadow: #f5f5f5;

}
.left-nav{
  display: flex;
  width: 50%;
  height: 59.4px;
  padding-right: 450px;
  padding-left: 96px;
}
.logo{
  justify-content: flex-start!important;
  align-items:center;
  width: 10%;
  height: 59.4px;
  
}
.logo-header{
  width: 40px;
  height: 40px;
  padding: 14%;

}
.horizontal-list{
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-left: -39px;
}
.list-thiks{
  border-bottom: unset;
  margin-left: 18px;
  margin-right: 10px;
  width: 40px;
  font-family: SoDoSans_Semibold,Helvetica,sans-serif;
  font-size: 15px;
  padding-top: 11px;
  cursor: pointer;
  height: 14.4px;
}
.right-nav{
  display: flex;
  width: 50%;
  height: 59.4px;
}
.search{
  width: 330px;
  height: 27px;
  border-radius: 20px;
  margin-right: 14px;

}
.searcher{
  width: 264px;
  height: 27px;
  border-radius: 20px;
  padding-left: 20px;
  margin-top: 9px;
}
.search-img{
  width:20px;
  height:20px;
  margin-top: 9px;

}
.profile{
  margin-top: 9px;
  width: 56px;
  height: 32px;
}
/*---------------------main-container-------------*/
.main-container{
  height: 311px;
  width: 100%;
  color: white;
}
.card-main{
  width: 100%;
  height: 80px;
  background:rgb(1, 65, 43);
  margin-top: 70px;
  
}
.text-container{
  height: 78.4px;
  width: 1420;
  display: flex;
}
.card-right{
  width: 829.99px;
  height: 24px;
  font-size: 22px;
  margin-left: 121px;
  font-family: sans-serif;
}
.cardt-left{
  height: 52px;
  width: 300px;
  text-align: right;
  padding-top: 32px;
  padding-left: 135px;

  
}
.know-butten{
  border-radius: 20px;
  box-shadow: none;
  width: 110px;
  height: 32px;
  border:2px solid;
  font-size: 20px;
  cursor: pointer;

}
/*-------------food-menu-----*/
.main-container{
  height: max-content;
  width: 100%;
}
.food-menu{
  width: 1360px;
  height: 191.6px;
  margin-left: 102px;
  margin-right: 42px;
}
.hrader{
  margin-bottom: 10px;
  color: #1e3932;
  font-family: system-ui;
  padding-left: 6.35px;
}
.food-continer{
  width: 1320px;
  height: 152px;
  display: flex;
}
.food-item{
  width: 108px;
  height: 152px;
  margin-right: 110px;
  cursor: pointer;


}
.food-img{
  border-radius: 50%;
  width: 108px;
  height: 108px;
}
.name-food{
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
}
/*---------offer-continer----*/
.Offer{
  width: auto;
  height: 450px;
  margin-right: 21px;
  margin-left: 114px;
  margin-top: 54px;
}
.offer-hed{
  font-family: fantasy;
  width: 464px;
  height: 47px;
  font-size: 25px;
  color: black;
}
.offer-prodect{
  width: auto;
  height: auto;
  display: flex;
}
.offer-item{
  width: 412px;
  height: 360px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px #00000012, 0 4px 5px #0000000f, 0 1px 10px #0000001a;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 9px;
}
.offer-img{
  width: 411px;
  height: 167px;

}
.offer-text{
  width: 386px;
  height: 191px;
  margin-left: 22px;

}
.eco{
  width: 363px;
  height: 18px;

}
.eco-img{
  width: 16px;
  height: 16px;
}
.ecoh1{
  font-size: 12px;
  font-family: sans-serif;
  color: black;
  margin: 0;
  

}
.ecoh2{
  font-size: 8px;
  font-family: sans-serif;
  color: black;
  margin: 0;
  
}
.ecop{
  font-size: 9px;
  font-family: sans-serif;
  color: black;
  margin-top: 31px;

}
.ecolast{
  display: flex;
}
.eco-right{
  color: rgb(0, 0, 0);
  font-size: 26px;
  font-family: system-ui;
  padding-top: 26px;
  width: 194px;

}
.eco-button{
  margin: 33%;
  width: 96px;
  height: 35px;
  border-radius: 20px;
  background: #1e3932;
  color: white;
}

/*---------------------recomment----------*/
.recomment{
  width: 100%;
  height: 286px;
  background: #edebe9;

}
.recomment-img{
  float: right;
  margin: 0;
  width: 57px;
  height: 70px;
}
.recoment-hed{
  width: 1398px;
  height: 53px;
  display: flex;
  margin-top: .5%;
  margin-left: 30px;
  

}
.recoment-hed-left{
  width: 879.21px;
  height: 23.6px;
  font-family: sans-serif;
  font-size: 20px;
  color: #1e3932;
  margin-right: 71px;
  margin-left: 102px;
  margin-top: 33px;

}
.recoment-hed-right{
  width: 439px;
  height: 21px;
  color: #1e3932;
  text-align: end;
  margin-top: 32px;
  cursor: pointer;
}
.recoment-boxs{
  width: auto;
  height: auto;
  display: flex;
  margin-left: 128px;
  margin-top: 30px;
}
.recoment-box{
  width: 397px;
  height: 152px;
  background: white;
  border-radius: 11px;
  margin-right: 20px;
}
.box-condent{
  width: 371px;
  height: 142px;
  margin-left: 20px;
  padding-top: 16px;
}
.box-img{
  width: 375px;
  height: 92px;
  display: flex;

}
.box-image{
  width: 88px;
  height: 80px;
  border-radius:10px;
}
.eco-condent{
  width: auto;
  height: auto;
  margin-left: 10px;
}
.eco-1{
font-size: 18px;
font-family: sans-serif;
margin-top: 3px;
}
.eco-2{
  font-size: 10px;
  font-family: system-ui;
}
.price{
  width: 375px;
  height: 32px;
  display: flex;
}
.left-side{
  font-size: 16px;
  font-family: sans-serif;
  
}
.rights-side{
  width: 95.32px;
   height: 32.12px;
    border-radius: 20px;
    cursor: pointer;
    background: #1e3932;
    color: white;
    margin-left: 158px;
}
/*-------------Learn-sesion-------*/
.Learn-sesion{
  width: 1502px;
  height: 437px;
  margin-top: 32px;
  background: #edebe9;
  padding-top: 30px;
}
.Learn-1{
  width: 1320px;
  height: 215px;
  margin-right: 81px;
  margin-left: 100px;
}
.Learn-head{
  width: 100%;
  height: 36px;
  display: flex;
  padding-bottom: 12px;
}
.left-head{
  width: 50%;
  height: auto;
  color: #1e3932;
  font-family: fantasy;
  font-size: 20px;
}
.right-head{
  width: 50%;
  height: auto;
  text-align: end;
  font-family: sans-serif;
  font-size: 10px;
  cursor: pointer;
}
.Learn-2{
  width: 1320px;
  height: 372px;
  position: relative;
  
}
.learn-img{
  width: 1320px;
  height: 372px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-text{
  position: absolute;
  transform: translate(-50%,-50%);
  margin-left: 356px;
  margin-top: -160px;
  text-shadow:black;
}
.img-text-1{
  font-size: 28px;
  font-family: sans-serif;
  margin-bottom: 6px;
  color: white;

}
.img-par{
  font-family: sans-serif;
    color: white;
    font-size: 12px;
    margin-bottom: -116px;
}
.img-butten{
  font-size: 16px;
  font-family: sans-serif;
  background: white;
  color: black;
  width: 180px;
  height: 31px;
  border-radius: 18px;
  padding-top: 2px;
  border: 0;
  margin-top: 149px;
  cursor: pointer;


}

/* -------------footer------------ */

footer {
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: rgb(1, 65, 43);
  color: #f5f5f5;
  font-size: larger;
}
.footer-container {
  display: flex;
  flex-basis: 25%;
  margin-left: 6%;
  margin-right: 6%;
}

.links-container{
  width: 221px;
}

.logo-footer {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.logo-footer img {
  height: 70px;
}

.footer-container ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.footer-container ul li {
  color: whitesmoke;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-right: 60px;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.footer-container ul li:hover {
  color: rgba(173, 157, 157, 0.87);
}

.links-container {
  width: 221px;
}

.footer-below {
  display: inline-block; 
  margin-left: 15%;
  margin-right: 15%;
  color: whitesmoke;
}
.social {
  display: flex;
  align-items: center;
}
.social-icon{
  color: whitesmoke;
  text-decoration: none
}

.policy {
  color: whitesmoke;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.po {
  color: whitesmoke;
  margin-right: 20px;
  text-decoration: none;
}
hr.n{
  margin-left: 15%;
  margin-right: 15%;
}
p.foot{
  display: flex;
  float: right;
  font-size: small;
}